/* your styles go here */

div.container img.d-md-inline-block {
    width: 5em;
    height: 5em;
    border: 0;
    margin-right: 2em;
}

.nav-item {
    margin-left: 4em;
}

.mainSlider {
    width: 12em;
    height: 36em;
}

div.banner img.bannerPhoto {
    width: 6em;
    height: 3em;
    font-size: 4em;
}

div.box p.addToCart {
    padding-left: 4em;
}

.update {
    margin-left: .5em;
    min-width: 5em;
    border: 0em;
}
.fa-trash-o {
    padding-left: 1.3em;
}

.addToCart {
    padding-left: 2em;
    margin-left: 2em;
    border-right: 2em;
}